{
  "username" : "{{ tenant_id }}_admin",
  "id" : "{{ admin_id }}",
  "active" : true,
  "personal" : {
    "lastName" : "administrator",
    "firstName" : "{{ tenant_id }}",
    "email" : "donotreply@indexdata.com",
    "preferredContactTypeId" : "002"
  }
}
