{
  "userId": "{{ admin_uuid }}",
  "permissions": [
    "auth.signrefreshtoken",
    "auth.signtoken",
    "circulation-storage.all",
    "configuration.all",
    "email.message.all",
    "ui-request.create",
    "ui-request.edit",
    "ui-supply.create",
    "ui-supply.edit",
    "inventory-storage.all",
    "login.all",
    "login-saml.all",
    "notes.all",
    "validation.all",
    "perms.all",
    "pubsub.event-types.post",
    "pubsub.publishers.post",
    "pubsub.subscribers.post",
    "pubsub.event-types.delete",
    "pubsub.publishers.delete",
    "pubsub.messaging-modules.delete",
    "pubsub.subscribers.delete",
    "pubsub.audit.message.payload.get",
    "pubsub.event-types.get",
    "pubsub.audit.history.get",
    "pubsub.publishers.get",
    "pubsub.subscribers.get",
    "pubsub.events.post",
    "pubsub.publish.post",
    "pubsub.event-types.put",
    "ui-developer.settings.passwd",
    "ui-developer.settings.dependencies",
    "ui-developer.settings.translations",
    "ui-developer.settings.stripesInspector",
    "ui-developer.settings.permissionsInspector",
    "ui-developer.settings.userLocale",
    "ui-developer.settings.okapiConfiguration",
    "ui-developer.settings.okapiQuery",
    "ui-developer.settings.app-manager",
    "ui-developer.settings.okapiConsole.environment",
    "ui-developer.settings.okapiConsole.modules",
    "ui-developer.settings.okapiTimers",
    "ui-developer.settings.configuration",
    "ui-developer.settings.handler-surface",
    "ui-developer.settings.token",
    "ui-developer.settings.perms",
    "ui-developer.settings.plugin-surface",
    "ui-developer.settings.locale",
    "ui-rs.settings.notices",
    "ui-rs.settings.pullslip-notifications",
    "ui-rs.settings.hostlmslocations",
    "ui-rs.settings.system",
    "ui-tenant-settings.settings.servicepoints",
    "ui-tenant-settings.settings.location",
    "ui-tenant-settings.settings.locale",
    "ui-tenant-settings.settings.plugins",
    "ui-tenant-settings.settings.sso",
    "ui-tenant-settings.settings.addresses",
    "ui-tenant-settings.settings.view",
    "ui-users.settings.addresstypes.all",
    "ui-users.settings.feefines.all",
    "ui-users.settings.limits.all",
    "ui-users.settings.patron-block-templates.all",
    "ui-users.settings.usergroups.all",
    "ui-users.settings.permsets.all",
    "ui-users.settings.departments.create.edit.view",
    "ui-users.settings.customfields.all",
    "ui-users.settings.departments.all",
    "ui-users.settings.view",
    "email.smtp-configuration.all",
    "tags.all",
    "module.developer.enabled",
    "module.request.enabled",
    "module.rs.enabled",
    "module.supply.enabled",
    "module.update.enabled",
    "user-settings.custom-fields.all",
    "ui-users.overrideItemBlock",
    "ui-users.overridePatronBlock",
    "users.all",
    "users-bl.all",
    "ui-users.editperms",
    "ui-users.edituserservicepoints",
    "ui-users.opentransactions",
    "ui-users.create",
    "ui-users.patron_blocks",
    "ui-users.editproxies",
    "ui-users.delete",
    "ui-users.lost-items.requiring-actual-cost",
    "ui-users.profile-pictures.all",
    "ui-users.cashDrawerReport",
    "ui-users.financialTransactionReport",
    "ui-users.manualProcessRefundsReport",
    "ui-users.reset.password",
    "ui-users.loans.anonymize",
    "ui-users.loans.claim-item-returned",
    "ui-users.loans.declare-item-lost",
    "ui-users.loans.declare-claimed-returned-item-as-missing",
    "ui-users.loans.renew-override",
    "ui-users.loans.all",
    "ui-users.loans.add-patron-info",
    "ui-users.loans.add-staff-info",
    "ui-users.remove-patron-notice-print-jobs",
    "ui-users.view-patron-notice-print-jobs",
    "ui-users.requests.all"
  ]
}
