{
  "userId": "{{ admin_id }}"{% if perms_id %},
  "id": "{{ perms_id }}"{% endif %},
  "permissions": [
    "auth.signrefreshtoken",
    "auth.signtoken",
    "configuration.all",
    "email.message.all",
    "ui-request.create",
    "ui-request.edit",
    "ui-supply.create",
    "ui-supply.edit",
    "login.all",
    "login-saml.all",
    "notes.all",
    "validation.all",
    "perms.all",
    "ui-developer.settings.passwd",
    "ui-developer.settings.dependencies",
    "ui-developer.settings.translations",
    "ui-developer.settings.stripesInspector",
    "ui-developer.settings.permissionsInspector",
    "ui-developer.settings.userLocale",
    "ui-developer.settings.okapiConfiguration",
    "ui-developer.settings.okapiQuery",
    "ui-developer.settings.app-manager",
    "ui-developer.settings.okapiConsole.environment",
    "ui-developer.settings.okapiConsole.modules",
    "ui-developer.settings.okapiTimers",
    "ui-developer.settings.configuration",
    "ui-developer.settings.handler-surface",
    "ui-developer.settings.token",
    "ui-developer.settings.perms",
    "ui-developer.settings.plugin-surface",
    "ui-developer.settings.locale",
    "ui-rs.settings.notices",
    "ui-rs.settings.pullslip-notifications",
    "ui-rs.settings.hostlmslocations",
    "ui-rs.settings.system",
    "ui-tenant-settings.settings.servicepoints",
    "ui-tenant-settings.settings.location",
    "ui-tenant-settings.settings.locale",
    "ui-tenant-settings.settings.plugins",
    "ui-tenant-settings.settings.sso",
    "ui-tenant-settings.settings.addresses",
    "ui-tenant-settings.settings.view",
    "email.smtp-configuration.all",
    "tags.all",
    "module.developer.enabled",
    "module.request.enabled",
    "module.rs.enabled",
    "module.supply.enabled",
    "module.update.enabled",
    "rs.all",
    "user-settings.custom-fields.all",
    "users.all",
    "users-bl.all",
    "templates.all",
    "broker.all.read",
    "illmock.directory.entries.get",
    "metaproxy.anbd.get",
    "dms.upload.post",
    "dms.upload.delete"
  ]
}
