{
  "username" : "{{ tenantid }}_admin",
  "id" : "{{ admin_uuid }}",
  "active" : true,
  "personal" : {
    "lastName" : "administrator",
    "firstName" : "{{ tenantid }}",
    "email" : "donotreply@indexdata.com",
    "preferredContactTypeId" : "002"
  }
}
